<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/header', {title: 'Edit Request'}) %>
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/newrequest.css">
    
</head>
<body>
    <%- include('../partials/nav') %>
    <div class="container">
        <h1> Edit Request for <%= user.name %> </h1>
    <form method="POST" action="/requests/<%= request.id %>?_method=PUT">
        <label for="resort">Resort:</label>
        <select name = "resort" type="text" placeholder="Resort" id="resortSelect">
            <option value="Select Resort" selected disabled>Select Resort</option>
            <option value="DLR" id="DLR"<%= request.resort === 'DLR' ? 'selected': '' %> <%= request.resort === 'DLR' ? '': 'disabled' %>>Disneyland Resort</option>
            <option value="WDW" id="WDW"<%= request.resort === 'WDW' ? 'selected': '' %> <%= request.resort === 'WDW' ? '': 'disabled' %> >Walt Disney World</option>
        </select>
        <br>
        <label for="park">Park:</label>
        <select name = "park" type="text" placeholder="Park">
            <option value="Select Park" selected disabled>Select Park</option>
            <option value="ANY" <%= request.park === 'ANY' ? 'selected': '' %> disabled>Any</option>
            <option value="DP" class="DLR"<%= request.park === 'DP' ? 'selected': '' %>   <%= request.resort === 'DLR' ? '': 'disabled' %>>Disneyland Resort</option>
            <option value="CA" class="DLR"<%= request.park === 'CA' ? 'selected': '' %>   <%= request.resort === 'DLR' ? '': 'disabled' %>>Disney California Adventure</option>
            <option value="MK" class="WDW"<%= request.park === 'MK' ? 'selected': '' %>   <%= request.resort === 'WDW' ? '': 'disabled' %>>Magic Kingdom</option>
            <option value="EP" class="WDW" <%= request.park === 'EP' ? 'selected': '' %>   <%= request.resort === 'WDW' ? '': 'disabled' %>>Epcot</option>
            <option value="HS" class="WDW"<%= request.park === 'HS' ? 'selected': '' %>   <%= request.resort === 'WDW' ? '': 'disabled' %>>Hollywood Studios</option>
            <option value="AN" class="WDW"<%= request.park === 'AN' ? 'selected': '' %>   <%= request.resort === 'WDW' ? '': 'disabled' %>>Animal Kingdom</option>
        </select>
        <br>
        
        <label for="date">Date:</label>
        <input name = "date" type="date" value="<%= request.date %>" >
        <br>
        <label for="pass">Pass:</label>
        <select name = "pass" type="text">
            <option value="Select Pass" selected disabled>Select Pass</option>
            <option value = "inspire-key-pass" class="DLR" <%= request.pass === 'inspire-key-pass' ? 'selected' : '' %> <%= request.resort === 'DLR' ? '': 'disabled' %>>Inspire Key</option>
            <option value = "enchant-key-pass" class="DLR" <%= request.pass === 'enchant-key-pass' ? 'selected' : '' %> <%= request.resort === 'DLR' ? '': 'disabled' %>>Enchant Key</option>
            <option value = "believe-key-pass" class="DLR" <%= request.pass === 'believe-key-pass' ? 'selected' : '' %> <%= request.resort === 'DLR' ? '': 'disabled' %>>Believe Key</option>
            <option value = "dream-key-pass" class="DLR" <%= request.pass === 'dream-key-pass' ? 'selected' : '' %> <%= request.resort === 'DLR' ? '': 'disabled' %>>Dream Key</option>
            <option value = "disney-incredi-pass" class="WDW" <%= request.pass === 'disney-incredi-pass' ? 'selected' : '' %> <%= request.resort === 'WDW' ? '': 'disabled' %>>Incredi-Pass</option>
            <option value = "disney-sorcerer-pass" class="WDW" <%= request.pass === 'disney-sorcerer-pass' ? 'selected' : '' %> <%= request.resort === 'WDW' ? '': 'disabled' %>>Sorcerers Pass</option>
            <option value = "disney-pirate-pass" class="WDW" <%= request.pass === 'disney-pirate-pass' ? 'selected' : '' %> <%= request.resort === 'WDW' ? '': 'disabled' %>>Pirate Pass</option>
            <option value = "disney-pixie-dust-pass" class="WDW" <%= request.pass === 'disney-pixie-dust-pass' ? 'selected' : '' %> <%= request.resort === 'WDW' ? '': 'disabled' %>>Pixie-Dust Pass</option>
        </select>
        <br>
    
        <input type="submit" value="Submit">
            
        <input name = "available" value="false" hidden>
        </form>
        </div>
        <script src="/js/main.js" defer></script>
    </form>