<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/header', {title: `New Request for ${date}`}) %>
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/newrequest.css">
    
</head>
<body>
    <% function getText (code) {
        switch (code) {
            case 'DLR':
                return 'Disneyland Resort'
            case 'WDW':
                return 'Walt Disney World Resort'
            case 'DP':
                return 'Disneyland Park'
            case 'CA':
                return 'California Adventure'
            case 'MK':
                return 'Magic Kingdom'
            case 'EPCOT':
                return 'Epcot'
            case 'HS':
                return 'Hollywood Studios'
            case 'AK':
                return 'Animal Kingdom'
        }
    }; %>
    <% let resort = ''
        let park = ''
        let resortText = ''
        let parkText = '' %>

    <div class="container">
        <h1> New Request for <%= user.id %> </h1>
    <form method="POST" action="/requests/create/<%= user.id %>">
        <% if(resortPark !== undefined && resortPark !== 'ANY') { 
             resort = resortPark.slice(0,3) 
                 park = resortPark.slice(4)
                 resortText = getText(resort);
                 parkText = getText(park); 
                 if (parkText === 'NY'){
                    parkText = 'ANY'
                 }%>
        <% } %>
        <label for="resort">Resort:</label>
        <select name = "resort" type="text" placeholder="Resort" id="resortSelect">
            <option value="Select Resort" selected disabled>Select Resort</option>
            <option value="DLR" id="DLR"<%= resort === 'DLR' ? 'selected': '' %>>Disneyland Resort</option>
            <option value="WDW" id="WDW"<%= resort === 'WDW' ? 'selected': '' %>>Walt Disney World</option>
        </select>
        <br>
        <label for="park">Park:</label>
        <select name = "park" type="text" placeholder="Park">
            <option value="Select Park" selected disabled>Select Park</option>
            <option value="ANY" <%= park === 'ANY' ? 'selected': '' %>>Any</option>
            <option value="DP" class="DLR"<%= park === 'DP' ? 'selected': '' %>  <%= resort === 'DLR' ? '': 'disabled' %>>Disneyland Resort</option>
            <option value="CA" class="DLR"<%= park === 'CA' ? 'selected': '' %>  <%= resort === 'DLR' ? '': 'disabled' %>>Disney California Adventure</option>
            <option value="MK" class="WDW"<%= park === 'MK' ? 'selected': '' %>  <%= resort === 'WDW' ? '': 'disabled' %>>Magic Kingdom</option>
            <option value="EP" class="WDW"<%= park === 'EP' ? 'selected': '' %>  <%= resort === 'WDW' ? '': 'disabled' %>>Epcot</option>
            <option value="HS" class="WDW"<%= park === 'HS' ? 'selected': '' %>  <%= resort === 'WDW' ? '': 'disabled' %>>Hollywood Studios</option>
            <option value="AK" class="WDW"<%= park === 'AK' ? 'selected': '' %>  <%= resort === 'WDW' ? '': 'disabled' %>>Animal Kingdom</option>
        </select>
        
        <br>
        <label for="date">Date:</label>
        <input name = "date" type="date" value="<%= date %>" type="" readonly>
        <br>
        <label for="pass">Pass:</label>
        <select name = "pass" type="text">
            <% if (resortPark != undefined && resortPark != "ANY") {
                let resort = resortPark.slice(0,3) 
                if (resort == "DLR") { %>
                <option value="Select Pass" selected disabled>Select Pass</option>
                <option value = "inspire-key-pass" class="DLR" >Inspire Key</option>
                <option value = "enchant-key-pass" class="DLR" >Enchant Key</option>
                <option value = "believe-key-pass" class="DLR" >Believe Key</option>
                <option value = "dream-key-pass" class="DLR" >Dream Key</option>
                <% }else{ %>
                
                    <option value="Select Pass" selected disabled>Select Pass</option>
                <option value = "disney-incredi-pass" class="WDW" >Incredi-Pass</option>
                <option value = "disney-sorceror-pass" class="WDW" >Sorcerers Pass</option>
                <option value = "disney-pirate-pass" class="WDW" >Pirate Pass</option>
                <option value = "disney-pixie-dust-pass" class="WDW" >Pixie-Dust Pass</option>
            <% } %>
            <% } %>
        </select>
        <br>
    
        <input name = "submit" type="submit" value="Submit">
            
        <input name = "available" value="false" hidden>
        </form>
        </div>
        <script src="/js/request-new.js" defer></script>
        </body>
    </form>