<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/header', {title: `User Profile`}) %>
    <link rel="stylesheet" href="/styles/user-details.css">
    <link rel="stylesheet" href="/styles/style.css">
    
    
    
</head>
<body>
    <% function getText(code) {
        switch (code) {
            case 'ANY':
                return 'Any'
            case 'DLR':
                return 'Disneyland Resort'
            case 'WDW':
                return 'Walt Disney World Resort'
            case 'DP':
                return 'Disneyland Park'
            case 'CA':
                return 'California Adventure'
            case 'MK':
                return 'Magic Kingdom'
            case 'EPCOT':
                return 'Epcot'
            case 'HS':
                return 'Hollywood Studios'
            case 'AK':
                return 'Animal Kingdom'
            case 'inspire-key-pass':
                return 'Inspire'
            case 'imagine-key-pass':
                return 'Imagine'
            case 'dream-key-pass':
                return 'Dream'
            case 'enchant-key-pass':
                return 'Enchant'
            case 'believe-key-pass':
                return 'Believe'
            case 'disney-incredi-pass':
                return 'Incredi-Pass'
            case 'disney-sorcerer-pass':
                return 'Sorcerer'
            case 'disney-pirate-pass':
                return 'Pirate'
            case 'disney-pixie-dust-pass':
                return 'Pixie Dust'
        }
        
      }; %>
    <%- include('../partials/nav') %>
    <div class="container">
    <div class = "row">
        <h1> User Profile </h1>
    <div class="user-details col-lg-3 col-md-4 col-sm-10">
        
    <p> Name: <%= user.name %></p>
    <p> Email: <%= user.email %></p>
    <p> Phone: <%= user.phone %></p>
    <p> Home Resort: <%= getText(user.defaultResort) %></p>
    <p> Annual Pass: <%= getText(user.defaultPass) %></p>
    <button class="sm-request-button"><a href="/users/<%=user._id%>/edit" style="text-decoration: none">Edit User</a></button>
    </div>
</div>
</div>
    <div class="container">
    <div class="request-body row">
        <h1> Requests: </h1>
        <% for (request in user.requests) { %>
            <div class="request col-lg-3 col-md-4  col-sm-10">
            <p>Request Date: <%= user.requests[request].date %></p>
            <p>Resort: <%= getText(user.requests[request].resort) %></p>
            <p>Park: <%= getText(user.requests[request].park) %></p>
            <p>Pass: <%= getText(user.requests[request].pass) %></p>
            <p>Available: <%= user.requests[request].available %></p>
            <form method="POST" action="/requests/<%= user.requests[request]._id %>?_method=DELETE">
                <input class="sm-request-button" type="submit" value="Delete" />
                </form>
            <form method="GET" action="/requests/<%= user.requests[request]._id %>/edit">
                <input class="sm-request-button" type="submit" value="Update" />
                </form>
            </div>
        
        <% } %>
    </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>