<!DOCTYPE html>
<html lang="en">
<head>
    
</head>
<body>
    <h1> Username: <%= user.username %></h1>
    <h1> Email: <%= user.email %></h1>
    <h1> Phone: <%= user.phone %></h1>
    <h1> Requests: 
        <% for (request in user.requests) { %>
            <p><strong>Request:</strong> <%= user.requests[request].date %></p>
            <p><strong>Resort:</strong> <%= user.requests[request].resort %></p>
            <p><strong>Park:</strong> <%= user.requests[request].park %></p>
            <p><strong>Pass:</strong> <%= user.requests[request].pass %></p>
            <p><strong>Available:</strong> <%= user.requests[request].available %></p>
            <form method="POST" action="/requests/<%= user.requests[request]._id %>?_method=DELETE">
                <input class="sm-request-button" type="submit" value="Delete" />
                </form>
        <% } %>


</body>
</html>